<div class="container-fluid download-progress-container">
  <div class="row">
    <div *ngIf="progressArray.length === 0" class="card col-md-5" style="text-align: center">
      No download in progress
    </div>
    <div *ngFor="let progress of progressArray" class="card col-md-5">
      <ul class="list-group list-group-flush">
        <li class="list-group-item font-weight-bold">{{progress.title}}</li>
        <li class="list-group-item">{{progress.fileName}}</li>
        <li class="list-group-item">
          <div class="progress">
            <div class="progress-bar" [style.width.%]="progressById[progress.id].percent" [class.bg-info]="inProgress(progress) && !isPaused(progress) && !isCancelled(progress)"
              [class.bg-warning]="isPaused(progress)" [class.bg-danger]="isCancelled(progress)" [class.bg-success]="isCompleted(progress)">
              <span class="progress-metadata">
                <span class="badge" [class.badge-warning]="inProgress(progress)">{{progressById[progress.id].percent | number:'1.0-0'}}%</span>
              </span>
              <span *ngIf="inProgress(progress)" class="progress-metadata speed">
                <span class="badge badge-warning">{{progressById[progress.id].speed | number:'1.2-2'}} MB/s</span>
              </span>
              <span *ngIf="inProgress(progress)" class="progress-metadata remaining">
                <span class="badge badge-warning">{{progressById[progress.id].remainingSize | number:'1.0-0' }} MB</span>
                <span class="badge badge-warning">{{formatTime(progressById[progress.id].remainingTime)}}</span>
              </span>
            </div>
          </div>
        </li>
        <li *ngIf="inProgress(progress)" class="list-group-item" style="text-align: center;">
          <button (click)="cancel(progress.id)" type="button" class="btn btn-light btn-sm">Cancel</button>
          <button (click)="pause(progress.id)" type="button" class="btn btn-light btn-sm">Pause</button>
          <button (click)="resume(progress.id)" type="button" class="btn btn-light btn-sm">Resume</button>
        </li>
        <li *ngIf="isCancelled(progress)" class="list-group-item" style="text-align: center;">
          <button (click)="restart(progress.id)" type="button" class="btn btn-light btn-sm">Restart</button>
        </li>
      </ul>
    </div>
  </div>
</div>