<div class="container-fluid download-progress-container">
  <div class="row">
    <div *ngIf="progressArray.length === 0" class="card col-md-5" style="text-align: center">
      No download in progress
    </div>
    <div *ngFor="let progress of progressArray" class="card col-md-5">
      <ul class="list-group list-group-flush">
        <li class="list-group-item font-weight-bold">{{progress.title}}</li>
        <li class="list-group-item">{{progress.fileName}}</li>
        <li class="list-group-item">
          <div class="progress">
            <div class="progress-bar" [style.width.%]="progress.percent" [class.bg-info]="progress.percent !== 100" [class.bg-success]="progress.percent === 100">
              <span class="progress-metadata">
                <span class="badge" [class.badge-warning]="progress.percent !== 100">{{progress.percent | number:'1.0-0'}}%</span>
              </span>
              <span *ngIf="progress.percent !== 100" class="progress-metadata speed">
                <span class="badge badge-warning">{{progress.speed | number:'1.2-2'}} MB/s</span>
              </span>
              <span *ngIf="progress.percent !== 100" class="progress-metadata remaining">
                <span class="badge badge-warning">{{progress.remainingSize | number:'1.0-0' }} MB</span>
                <span class="badge badge-warning">{{progress.remainingTime | number:'1.0-0'}} s</span>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>