<div class="container-fluid">
  <div class="row">

    <!-- Search -->
    <div class="col-md-12">
      <!--Sidebar content-->
      <span>Search:
        <input [(ngModel)]="searchText">
      </span>
      <span>Sort by:
        <select [(ngModel)]="order">
          <option value="dateCreated">dateCreated</option>
          <option value="priority">priority</option>
        </select>
      </span>
    </div>

    <!-- All links -->
    <div #allLinksContainer class="col-md-7">
      <div *ngFor="let links of downloadLinks | downloadsFilter : searchText">
        <span type="button" class="badge" [class.badge-light]="links._id !== selectedLinks._id" [class.badge-primary]="links._id === selectedLinks._id"
          (click)="onSelect(links, $event, allLinksContainer)">
          {{ links.artist }} - {{links.title}}
        </span>
      </div>
    </div>

    <!-- Selected links details-->
    <div *ngIf="selectedLinks" class="card col-md-5" [ngStyle]="{'margin-top.px': selectedLinksMarginTop}">
      <div class="card-body">
        <h5 class="card-title">{{selectedLinks._id}}</h5>
        <div class="card-text">
          <div *ngFor="let hostUrls of selectedLinks.links">
            <div *ngFor="let url of hostUrls">
              {{url}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <a *ngFor="let source of selectedLinks.sources" href="{{source}}" class="card-link">Source</a>
        <a *ngFor="let preview of selectedLinks.previews" href="{{preview}}" class="card-link">Preview</a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Priority: {{selectedLinks.priority}}</li>
        <li class="list-group-item">Size: {{selectedLinks.sizeMB}} MB</li>
      </ul>
    </div>
  </div>
</div>